@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  font-family: "Roboto", ital;
}

@media print {
  @page {
    size: 70mm 297mm;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f9fafb;
}
.Toastify__toast {
  height: 100px;
  background-color: #f4f4f5;
}

.Toastify__toast-body {
  text-align: center;
  color: #ef4444;
  font-size: 20px;
}

.filter-box {
  transform: translateX(0); /* Start visible */
  transition: transform 0.3s ease-in-out; /* Transition effect */
}
body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

body::-webkit-scrollbar-track {
  background-color: lightgray;
}

